.encabezadoTabla{
	background-color: #8DBCFC;
	border-radius: 10px;
	border-style: solid;
	width: 100px;
	text-align: center;
	font-weight: bold;
}
.ing {
	background-color: #F59827;
	border-radius: 10px;
	border-style: solid;
	width: 100px;
	text-align: center;
}
.griego {
	background-color: #EAE4DB;
	border-radius: 10px;
	border-style: solid;
	width: 100px;
	text-align: center;
}
.filosofia {
	background-color: #23CB6F;
	border-radius: 10px;
	border-style: solid;
	width: 100px;
	text-align: center;
}
.diseño {
	background-color: #BF34E1;
	border-radius: 10px;
	border-style: solid;
	width: 100px;
	text-align: center;
}
.arte {
	background-color: #FA2C2C;
	border-radius: 10px;
	border-style: solid;
	width: 100px;
	text-align: center;
}
.latin {
	background-color: #2A53ED;
	border-radius: 10px;
	border-style: solid;
	width: 100px;
	text-align: center;
}
.españa {
	background-color: #F5D81F;
	border-radius: 10px;
	border-style: solid;
	width: 100px;
	text-align: center;
}
.lengua {
	background-color: #22F3ED;
	border-radius: 10px;
	border-style: solid;
	width: 100px;
	text-align: center;
}
.tic {
	background-color: #BBF0BF;
	border-radius: 10px;
	border-style: solid;
	width: 100px;
	text-align: center;
}
.religion {
	background-color: #C08B69;
	border-radius: 10px;
	border-style: solid;
	width: 100px;
	text-align: center;
}